@media only screen and (max-width: 1100px) {
.middle_cont section{width: 47%;}
.middle_cont img{width: 328px;}
}

@media only screen and (max-width: 700px) {
.middle_cont section{width: 100%;}
}

/* Introduction Box 1 */
/* #introductionBox_1                      {  height: 100%; position: relative;}
#introductionBox_1 img                  {  width: 100%;    }
.introductionBox_Content                {  display: flex; justify-content: left; flex-wrap: wrap; position: absolute;  bottom: 10%; }
.introductionBox_Content_1              {  font-size: 2.3vw; width: 33%; padding-right: 8%; color: #fff;  }
.introductionBox_Content_1  h1          {  margin: 0;  }
.introductionBox_Content_2 p            {  margin: 0;  }
.introductionBox_Content_2              {  font-size: 1.3vw; color: #fff; width: 38%;  } */


@media only screen and (max-width: 1415px)
{
    .introductionBox_Content_2              {  font-size: 1.4vw;  }
    .wrapper {  padding-left: 13px; padding-right: 13px; }
}

@media only screen and (max-width: 1387px)
{
    .middleBox_1_Content_1 {justify-content: left; padding-top: 3%; }
    .middleBox_1_Content_1_1 h2 {
        margin-bottom: -2%;

      }
}


@media only screen and (max-width: 1000px) {

    
    }